body{
    background-color: rgba(0, 0, 0, 0.665);
}

section{
background-color: rgba(62, 62, 96, 0.98);
height: 390px;
width: 1363px;
margin-left: -1%;
margin-top: -1%;
}



h1{
    font: 20pt normal;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

div{
    font: 15pt normal;
    margin-left: 5%;
    margin-right: 5%
}

footer{
    margin-left: 4%;
    font:  14pt new roman;
    color: rgb(255, 255, 255);
    
}

#port, #cont, #form{
    position: fixed;
    top: 0;
    font: 13pt normal;
    margin: 22px;
    margin-left: 2%;
    color: rgba(250, 232, 29, 0.822);
    text-decoration: none; /*Remove o sublinhado*/

}

#port{
    left: 50%;
    transform: translateX(-50%);

}

#cont{
    left: 10x;
}

#form{
    left: 90%;
}



#imagemContainer{
    position: absolute;
    top: 80px;
    left: 47%;
    transform: translateX(-50%);


}



#minhaImagem{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

#ImageInsta{
    position: absolute;
    top: 366px;
    left: 52%;
    transform: translateX(-50%);

}


#IconInstag{
    width: 65px;
    height: 65px;
    border-radius: 20%;
    object-fit: cover;
}

#ContainerFacebook{
    position: absolute;
    top: 366px;
    left: 41%;
    transform: translateX(-50%);
}

#IconFace{
    width: 65px;
    height: 65px;
    border-radius: 20%;
    object-fit: cover;
}

#ContainerLinkedin{
    position: absolute;
    top: 366px;
    left: 29%;
}

#IconLinkedIn{
    width: 65px;
    height: 65px;
    border-radius: 20%;
    object-fit: cover;
}

#ContainerYoutube{
    position: absolute;
    top: 366px;
    left: 58%;
}

#IconYoutube{
    width: 65px;
    height: 65px;
    border-radius: 20%;
    object-fit: cover; 
}

#ContainerGithub{
    position: absolute;
    top: 366px;
    left: 60%;
}

#IconGithub{
    width: 65px;
    height: 65px;
    border-radius: 20%;
    object-fit: cover;
}

#SectionNome{
    background-color: rgba(240, 248, 255, 0.461);
    width: 280px;
    height: 40px;
    font: 20pt italic;
    position: absolute;
    border-radius: 15px;
    left: 53%;
    top: 320px;
    transform: translateX(-50%);
    text-align: center;
}

.container-redes{
     width: 65px;
    height: 65px;
    border-radius: 20%;
    object-fit: cover;
}